<!doctype html>
<html lang="en">

<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS v5.2.1 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

</head>

<body>
    <header>
        <!-- place navbar here -->
    </header>
    <main class="container mt-5">
        <h2>Employee Management</h2>
        <table class="table">
            <tr>
                <th>Employee Code</th>
                <th>Name</th>
                <th>Age</th>
                <th>Salary</th>
                <th>Branch</th>
                <th></th>
            </tr>
            <% data.forEach((item)=>{ %>
                <tr>
                    <td>
                        <a href="/detail/<%= item._id %> ">
                            <%=item.maNV%>
                        </a>
                    </td>
                    <td>
                        <%=item.name%>
                    </td>
                    <td>
                        <%=item.age%>
                    </td>
                    <td>
                        <%=item.salary%>
                    </td>
                    <td>
                        <%=item.branch.name%>
                    </td>
                    <td>
                        <a href="/delete?id=<%=item._id%>">
                            <button class="btn btn-danger" onclick="return confirm('Are you sure you want to delete employee')">delete</button>
                        </a>
                        <a href="/update?id=<%=item._id%>">
                            <button class="btn btn-primary">update</button>
                        </a>
                    </td>
                </tr>
                <% }) %>

        </table>
        <a href="/add">
            <button type="submit" class="btn btn-primary">
                Add New</button>
        </a>

    </main>
    <footer>
        <!-- place footer here -->
    </footer>
    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
        </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
        integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
        </script>
</body>

</html>